$font: Formular, Arial, sans-serif;

$text: #111827;
$first: #8b5cf6;
$second: #a78bfa;
$third: #6d28d9;
$gray: #9ca3af;
$gray2: #6b7280;
$dark: #4b5563;
$white: #f9fafb;
$back: #e5e7eb;

$media-lg: 1536px;
$media-mdx: 1156px;
$media-md: 1024px;
$media-sm: 758px;
$media-xs: 640px;
$media-xxs: 320px;
