.warrs {
    &--container {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    &--header {
        display: flex;
        flex-direction: column;
        gap: 12px;
        align-items: center;
    }

    &--title {
    }

    &--text {
        color: $text;
        text-align: center;
        font-family: $font;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 150% */
        width: 756px;
        @media (max-width: $media-xs) {
            width: 100%;
            text-align: left;
        }
    }

    &--body {
        display: flex;
        flex-direction: column;
        gap: 36px;
        align-items: center;
    }

    &--list {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 24px;
        @media (max-width: $media-lg) {
            width: 816px;
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: $media-mdx) {
            width: 100%;
        }
        @media (max-width: $media-sm) {
            grid-template-columns: repeat(1, 1fr);
            width: 366px;
        }
        @media (max-width: $media-xs) {
            width: 100%;
        }
    }

    &--item {
        display: flex;
        flex-direction: column;
        gap: 4px;
        align-items: center;
    }

    &--photo {
        width: 100%;
        img {
            width: 100%;
        }
    }

    &--name {
        color: $text;
        text-align: center;
        font-family: $font;
        font-size: 18px;
        font-style: normal;
        font-weight: 900;
        line-height: 28px; /* 155.556% */
    }

    &--btn {
        padding: 16px 28px;
        border-radius: 12px;
    }
}
